<!doctype html>
<html>
  <head>
    <title>Pets in Hats</title>
  </head>
  <body>
    <h1> Get ready to see an animal wearing a hat!!</h1>
 
  <form method="POST">
    <h4>CHOOSE AN ANIMAL:</h4>
    <br>
    <input type="radio" name="user_animal" value="Dog">Dog<br>
    <input type="radio" name="user_animal" value="cat">Cat<br>
    <h4>CHOOSE A HAT:</h4>
    <br>
    <input type="radio" name="user_hat" value="party-hat"> Party Hat<br>
    <input type="radio" name="user_hat" value="top-hat"> Top Hat<br>
    <input type="radio" name="user_hat" value="bucket-hat"> Bucket Hat<br>
    <input type="submit" value="Show me da animals in cute hats!">
  </form>
  </body>
</html>


