#this will display the image of the animal in the hat
<!doctype html>
<html>
  <head>
    <title>RESULTS!!</title>
  </head>
  <body> 
    <h1>HERE DA CUTE ANIMALS</h1>
    <img src="<%=@animal_pic%>"/>
  </body>
</html>

